#screen {
	height: 2em;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
}
td{
	padding: 1em 1.3em;
	text-align: center;
	border: 1px solid black;
}
td a{
	display: inline-block;
	text-decoration: none;
}
